<!DOCTYPE html>
<head>
    <title>template</title>
    <style>
        @font-face {
            font-family: 'against.projet';
            src: url('{{ asset('fonts/against regular.otf') }}') format('opentype');
        }

        @font-face {
            font-family: 'quicksand';
            src: url('{{ asset('fonts/Quicksand_Light.otf') }}') format('opentype');
        }

        body {
            background-image: url("{{ asset('image/bg_template2.jpg') }}");
            background-color: rgba(0, 0, 0, 1);
            overflow-x: hidden;
            margin: 0;
            padding:0;
            background-attachment: fixed;
            background-position: 17vw 0vw;
            background-size: 100vw;
            height: 100vh;
            width: 100vw;
        }

        .sommaire {
            position: fixed;
            top: 0;
            left: 0;
            width: 23vw;
            height: 100vh;
            z-index: 999;

            padding: 0;
            background: linear-gradient(to top right, #733078 30%, #dbb494e0 100%);
            box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
        }

        .logo {
            margin-left: 15%;
            box-sizing: border-box;
            color: black;
            background-color: none;
            transition: background-color 0.3s ease;
            font-family: 'against.projet';
            font-size: 3vw;
            text-align: left;
            text-decoration: none;
        }

        .premium {
            position: absolute;
            top: 3.1vw;
            left: 13vw;
            font-family: 'against.projet';
            color: #e9b938;
            font-size: 1vw;
        }

        .profil {
            margin-top: 0.3vw;
            margin-left: 18%;
            box-sizing: border-box;
            width: 80%;
            color: black;
            background-color: transparent;
            cursor: pointer;
            font-family: 'against.projet';
            font-size: 2vw;
            text-align: left;
            text-decoration: none;
        }

        .pfp {
            position: relative;
            top: 0.5vw;
            right: 1vw;
            width: 4vw;
            height: 4vw;
            margin-right: 0vw;
            border: 0.25vw solid rgba(102, 64, 150, 0.424);
            border-radius: 4vw;
            opacity: 1;
        }

        .boutons {
            display: flex;
            flex-direction: column;
            margin-top: 1vw;
        }

        .bouton {
            width: 70%;
            margin-left: 15%;
            margin-top: 1vw;
            padding: 1% 0 4% 4%;
            border-radius: 1.25vw;
            box-shadow: 0 0 0.8vh rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            color: black;
            background-color: #F4F3F3;
            transition: background-color 0.3s ease;
            font-family: 'quicksand';
            font-size: 1.5vw;
            text-decoration: none;
            text-align: left;
        }

        .bouton:hover {
            background-color: #ffffff29;
        }

        .image {
            position: relative;
            top: 0.5vw;
            margin-right: 1vw;
            width: 2.5vw;
            height: 2.5vw;
            opacity: 0.6;
        }

        #disconnect {
            background-color: lightgray;
        }

        #disconnect:hover {
            background-color: rgb(220, 50, 50, 0.5);
        }

        .template_notif {
            position: absolute;
            {#
            top: {{ app.user and app.user.perm == 3 ? '25.9vw' : '22.3vw'#} }};
            #}
            left: 18vw;
            width: 0.8vw;
            height: 0.8vw;
            border-radius: 100%;
            box-shadow: 0 0 2vw 1vw rgba(200, 100, 100, 0.5);
            background-color: orange;
            opacity: 0.6;
        }
    </style>
</head>

<body>

    <div class="sommaire">
        <div class="logo">
            <img src="{{ asset('icones/cacaboudin.png') }}" alt="Icône" class="image">Dater
        </div>

        <div class="premium">
            <em>{{ {#app.user and app.user.perm >= 2 ? #} 'Premium' : '' }}</em>
        </div>

        {#
        <script>
            function link_profil(){
                location.href="{{ {# path('show_myProfil')  }}"; // Redirection avec une route Symfony
            }
        </script>
        

        <div class="profil" onclick="link_profil()">
            <img src="{{  }}" alt="PfP" class="pfp">{{ app.user.username }}
        </div>

        <div class="boutons">
          {#   {% if app.user and app.user.perm == 3 %}
                <a href="{{ path('admin_signalements') }}" class="bouton" style="background-color: #fdbc2c; text-align: center; padding-bottom: 2%">Modération</a>
            {% endif %}
          #}
            <a href="{{ path('homepage') }}" class="bouton"><img src="{{ asset('icones/home.png') }}" alt="Icône" class="image">Accueil</a>
            <a href="{{ path('recherche') }}" class="bouton"><img src="{{ asset('icones/026-search.png') }}" alt="Icône" class="image">Explorer</a>
            <a href="{{ path('notification') }}" class="bouton"><img src="{{ asset('icones/043-warning.png') }}" alt="Icône" class="image">Notifications</a>
            <a href="{{ path('messagerie') }}" class="bouton"><img src="{{ asset('icones/008-message.png') }}" alt="Icône" class="image">Messagerie</a>
            <a href="{{ path('show_myProfil') }}" class="bouton"><img src="{{ asset('icones/profil.png') }}" alt="Icône" class="image">Profil</a>
            <a href="{{ path('premium') }}" class="bouton"><img src="{{ asset('icones/008-money bag.png') }}" alt="Icône" class="image">Premium</a>
            <a href="{{ path('process_disconnect') }}" class="bouton" id="disconnect"><img src="{{ asset('icones/exit.png') }}" alt="Icône" class="image">Déconnexion</a>
        </div>

    </div>

</body>