{% extends 'base.html.twig' %}

{% block title %}Page d'accueil | Dater{% endblock %}

{% block body %}
    <style>
        @font-face {
            font-family: 'against.projet';
            src: url('{{ asset('fonts/against regular.otf') }}') format('opentype');
        }

        @font-face {
            font-family: 'quicksand';
            src: url('{{ asset('fonts/Quicksand_Light.otf') }}') format('opentype');
        }

        body {
            background-image: url("{{ asset('image/bg_template2.jpg') }}");
            background-color: rgba(0, 0, 0, 1);
            overflow-x: hidden;
            margin: 0;
            padding: 0;
            background-attachment: fixed;
            background-position: 17vw 0vw;
            background-size: 100vw;
            height: 100vh;
            width: 100vw;
            {% if app.user.color == 1 %}
                background-color: #333;  /* Sombre */
                color: white;  /* Texte clair pour thème sombre */
            {% else %}
                background-color: #fff;  /* Clair */
                color: black;  /* Texte sombre pour thème clair */
            {% endif %}
        }

        .sommaire {
            position: fixed;
            top: 0;
            left: 0;
            width: 23vw;
            height: 100vh;
            z-index: 999;
            padding: 0;
            {% if app.user.color == 1 %}
                background: #222;  /* Sombre */
            {% else %}
                background: #fff;  /* Clair */
            {% endif %}
            box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
        }

        .logo {
            margin-left: 15%;
            box-sizing: border-box;
            transition: background-color 0.3s ease;
            font-family: 'against.projet';
            font-size: 3vw;
            text-align: left;
            text-decoration: none;
            {% if app.user.color == 1 %}
                color: #fff;  /* Sombre : texte blanc */
            {% else %}
                color: #000;  /* Clair : texte noir */
            {% endif %}
        }

        .premium {
            position: absolute;
            top: 3.1vw;
            left: 13vw;
            font-family: 'against.projet';
            font-size: 1vw;
            {% if app.user.color == 1 %}
                color: #fff;  /* Sombre : texte blanc */
            {% else %}
                color: #000;  /* Clair : texte noir */
            {% endif %}
        }

        .profil {
            margin-top: 0.3vw;
            margin-left: 18%;
            box-sizing: border-box;
            width: 80%;
            color: black;
            background-color: transparent;
            cursor: pointer;
            font-family: 'against.projet';
            font-size: 2vw;
            text-align: left;
            text-decoration: none;
            {% if app.user.color == 1 %}
                color: #fff;  /* Sombre : texte blanc */
            {% else %}
                color: #000;  /* Clair : texte noir */
            {% endif %}
        }

        .pfp {
            position: relative;
            top: 0.5vw;
            right: 1vw;
            width: 4vw;
            height: 4vw;
            margin-right: 0vw;
            border: 0.25vw solid rgba(102, 64, 150, 0.424);
            border-radius: 4vw;
            opacity: 1;
        }

        .boutons {
            display: flex;
            flex-direction: column;
            margin-top: 1vw;
        }

        .bouton {
            width: 70%;
            margin-left: 15%;
            margin-top: 1vw;
            padding: 1% 0 4% 4%;
            border-radius: 1.25vw;
            box-shadow: 0 0 0.8vh rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            {% if app.user.color == 1 %}
                background-color: #222;  /* Sombre */
                color: white;  /* Texte clair pour thème sombre */
            {% else %}
                background-color: #f4f3f3;  /* Clair */
                color: black;  /* Texte sombre pour thème clair */
            {% endif %}
            transition: background-color 0.3s ease;
            font-family: 'quicksand';
            font-size: 1.5vw;
            text-decoration: none;
            text-align: left;
        }

        .bouton:hover {
            background-color: #ffffff29;
        }

        .image {
            position: relative;
            top: 0.5vw;
            margin-right: 1vw;
            width: 2.5vw;
            height: 2.5vw;
            opacity: 0.6;
        }

        #disconnect {
            background-color: lightgray;
        }

        #disconnect:hover {
            background-color: rgb(220, 50, 50, 0.5);
        }

        .template_notif {
            position: absolute;
            left: 18vw;
            width: 0.8vw;
            height: 0.8vw;
            border-radius: 100%;
            box-shadow: 0 0 2vw 1vw rgba(200, 100, 100, 0.5);
            background-color: orange;
            opacity: 0.6;
        }
    </style>

    <div class="sommaire">
        <div class="logo">
            <img src="{{ asset(app.user.color == 1 ? 'icones/white/cacaboudin.png' : 'icones/black/cacaboudin.png') }}" alt="Icône" class="image">Dater
        </div>


        <div class="boutons">
            <a href="{{ path('app_home') }}" class="bouton">
                <img src="{{ asset(app.user.color == 1 ? 'icones/white/home.png' : 'icones/black/home.png') }}" alt="Icône" class="image">Accueil
            </a>
            <a href="{{ path('app_recherche') }}" class="bouton">
                <img src="{{ asset(app.user.color == 1 ? 'icones/white/026-search.png' : 'icones/black/026-search.png') }}" alt="Icône" class="image">Explorer
            </a>
            

            <a href="{{ path('objets_connectes') }}" class="bouton">
                <img src="{{ asset(app.user.color == 1 ? 'icones/white/026-search.png' : 'icones/black/026-search.png') }}" alt="Icône" class="image">Objets connectés
            </a>
            <a href="{{ path('app_profile') }}" class="bouton">
                <img src="{{ asset(app.user.color == 1 ? 'icones/white/profil.png' : 'icones/black/profil.png') }}" alt="Icône" class="image">Profil
            </a>


            <a href="{{ path('app_logout') }}" class="bouton" id="disconnect">
                <img src="{{ asset(app.user.color == 1 ? 'icones/white/exit.png' : 'icones/black/exit.png') }}" alt="Icône" class="image">Déconnexion
            </a>

            {% if is_granted('ROLE_ADMIN') %}
                    <!-- Affichage des boutons spécifiques pour les admins -->

                    <a href="{{ path('admin_users') }}" class="bouton">
                <img src="{{ asset(app.user.color == 1 ? 'icones/white/008-message.png' : 'icones/black/008-message.png') }}" alt="Icône" class="image">Gérer les utilisateurs
            </a>

                    <a href="{{ path('admin_signalements') }}" class="bouton">
                <img src="{{ asset(app.user.color == 1 ? 'icones/white/043-warning.png' : 'icones/black/043-warning.png') }}" alt="Icône" class="image">Notifications
            </a>
                    <li><a href="{{ path('admin_verification') }}">Valider les inscriptions</a></li>

                    <a href="{{ path('app_infos_new') }}" class="bouton">
                <img src="{{ asset(app.user.color == 1 ? 'icones/white/profil.png' : 'icones/black/profil.png') }}" alt="Icône" class="image">Ajouter Infos
            </a>
                {% endif %}
        </div>
    </div>
    
{% endblock %}


